.adaption {
  display: flex;
  justify-content: space-between;
  background: #003459;
  border-radius: 20px;
  margin-top: 60px;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  .index-2 {
    z-index: 2;
    width: 500px;
    margin-left: 150px;
    padding-top: 50px;
  }
  .adaption-text {
    h2 {
      font-weight: 800;
      font-size: 52px !important;
      line-height: 68px;
      color: #003459;
      margin-bottom: 20px;
    }
    h3 {
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;
      color: #003459;
    }

    p {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #242b33;
      margin-top: 8px;
      margin-bottom: 30px;
    }
  }
}
.adaption-img {
  position: absolute;
  top: 45px;
  left: 0px;
  z-index: 0;
}
.adaption-img2 {
  position: absolute;
  top: -280px;
  right: -160px;
  z-index: 1;
}
.adaption-dog {
  position: absolute;
  z-index: 10;
}
@media only screen and (max-width: 834px) {
  #adaption {
    display: none;
  }
  .adaption {
    display: none;
  }
}
